<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- Page Title --}}
    <title>Solace Self-Service</title>
    {{!-- Set Character Encoding --}}
    <meta charset="UTF-8"> 
    {{!-- Setting Viewport Parameters --}}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{!-- Bootstrap CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/journal/bootstrap.min.css"/>
    
    {{!-- Custom CSS --}}
    {{!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}

</head>

<body id="page-top">
    {{!-- body = index.handlebars --}}
    {{{body}}}

    {{!-- JavaScript --}}
    {{!-- JQuery --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {{!-- Bootstrap --}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {{!-- Custom --}}
    {{!-- <script src="/assets/js/main.js"></script> --}}
</body>

</html>