<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">SMURPH</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#getStarted">Get Started</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#configureRouter">Configure Router</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="failure" class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading"><h2>Oops! Something went wrong.</h2>
                <hr class="my-4">
                <p class="mb-5">There was an error while configuring your Message VPN. Please check your SEMP credentials on the Solace Cloud website and try again.</p>
            </div>
        </div>
    </div>
</section>


